/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2016, Jul 16, 2016 3:35:52 PM
    Author     : Russ
*/

/* Fonts */
$font-stack:   Lato, sans-serif;


/*Colors*/

$solid-red: rgb(193, 12, 26);
$solid-gray: rgb(124, 123, 124);

/* freeBox */

$trans-red: rgba(239, 6, 2, .8);

/* home-page-content hedaer */

$text-red:rgb(193, 12, 26);

/*blogborder*/
$light-gray:rgb(204, 204, 204);